{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YT Video Downloader</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
    />
    <style>
      .loading {
        display: none;
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
      }

      .dots::after {
        content: "";
        animation: dots 1.5s linear infinite;
      }

      @keyframes dots {
        0%,
        20% {
          content: "";
        }
        40% {
          content: ".";
        }
        60% {
          content: "..";
        }
        80%,
        100% {
          content: "...";
        }
      }

      #after-download {
        display: none;
      }
    </style>
    <script>
      // document.getElementById("after-download").style.display = "none";
      function showLoading() {
        document.getElementById("loading").style.display = "block";
        document.getElementById("downloadForm").style.display = "none";
        document.getElementById("after-download").style.display = "none";
      }

      function hideLoading() {
        document.getElementById("loading").style.display = "none";
        document.getElementById("downloadForm").style.display = "none";
        document.getElementById("after-download").style.display = "block";
      }

      function downloadVideo(e) {
        e.preventDefault();
        showLoading();
        fetch("/", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]")
              .value,
          },
          body: new URLSearchParams(
            new FormData(document.getElementById("downloadForm"))
          ),
        })
          .then((response) => response.blob())
          .then((blob) => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement("a");
            a.style.display = "none";
            a.href = url;
            a.download = "video.mp4"; // You can customize the filename here
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
            hideLoading();
          })
          .catch(() => {
            alert("Failed to download video");
            hideLoading();
          });
      }
    </script>
  </head>
  <body>
    <nav
      style="padding-left: 5%"
      class="bg-black text-white py-4 flex flex-row justify-between"
    >
      <div class="flex flex-row gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="#fff"
          viewBox="0 0 256 256"
        >
          <path
            d="M164.44,121.34l-48-32A8,8,0,0,0,104,96v64a8,8,0,0,0,12.44,6.66l48-32a8,8,0,0,0,0-13.32ZM120,145.05V111l25.58,17ZM234.33,69.52a24,24,0,0,0-14.49-16.4C185.56,39.88,131,40,128,40s-57.56-.12-91.84,13.12a24,24,0,0,0-14.49,16.4C19.08,79.5,16,97.74,16,128s3.08,48.5,5.67,58.48a24,24,0,0,0,14.49,16.41C69,215.56,120.4,216,127.34,216h1.32c6.94,0,58.37-.44,91.18-13.11a24,24,0,0,0,14.49-16.41c2.59-10,5.67-28.22,5.67-58.48S236.92,79.5,234.33,69.52Zm-15.49,113a8,8,0,0,1-4.77,5.49c-31.65,12.22-85.48,12-86,12H128c-.54,0-54.33.2-86-12a8,8,0,0,1-4.77-5.49C34.8,173.39,32,156.57,32,128s2.8-45.39,5.16-54.47A8,8,0,0,1,41.93,68c30.52-11.79,81.66-12,85.85-12h.27c.54,0,54.38-.18,86,12a8,8,0,0,1,4.77,5.49C221.2,82.61,224,99.43,224,128S221.2,173.39,218.84,182.47Z"
          ></path>
        </svg>
        <p class="text-xl">YT Video Downloader</p>
      </div>
    </nav>

    <div style="margin-left: 5%" class="mt-5">
      <form id="downloadForm" method="POST" onsubmit="downloadVideo(event)">
        {% csrf_token %} {{ form | crispy }}
        <input
          class="px-3 py-3 bg-black text-white rounded-lg"
          type="submit"
          value="Download"
        />
      </form>
      <div
        class="absolute bottom-5 right-5 bg-black text-white rounded-lg px-2 py-2"
      >
        <a href="{% url 'credits-page' %}" class="text-2xl">Credits</a>
      </div>
      <div id="loading" class="loading">
        Downloading your video,<br />
        please wait<span class="dots"></span>
      </div>

      <div id="after-download" align="center" class="text-xl">
        Your video is downloaded!<br />
        Thanks for waiting!
      </div>
    </div>

    <div class="container">
      <a href="{% url 'download_playlist' %}" class=""
        ><p
          style="
            color: rgb(34 211 238);
            margin-left: 5%;
            margin-top: 2.5%;
            text-decoration: underline;
          "
        >
          Click here to download a playlist instead!
        </p></a
      >
    </div>
  </body>
</html>
